# Binary files
/main
/api
/*.exe
bin/
out/

#Tests
*.test
*.out

#Cont data
data/
pgdata/
redisdata/

#OS rubbish
.DS_Store
Thumbs.DB

# Logs
*.log

# Environment variables (DB password secrets)
.env

# Temporary editor folders
.idea/
.vscode/

# If you ever decide to download dependencies in the project (rare, but it happens)
vendor/